<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>

  <header>
    <h1>Product Detail</h1>
  </header>

  <main id="productDetailContainer">
    <!-- Product details will be displayed here -->
  </main>

  <footer>
    <p>&copy; 2024 Shopkart. All rights reserved.</p>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      const urlParams = new URLSearchParams(window.location.search);
      const productId = urlParams.get('id');

      try {
        const response = await fetch(`http://localhost:3001/products/${productId}`);
        const product = await response.json();

        const productDetailContainer = document.getElementById('productDetailContainer');
        productDetailContainer.innerHTML = `
          <div>
            <img src="${product.image}" alt="${product.title}">
            <h3>${product.title}</h3>
            <p>${product.description}</p>
            <p>Price: $${product.amount}</p>
            <button id="addToBasketBtn">Add to Basket</button>
          </div>
        `;

        const addToBasketBtn = document.getElementById('addToBasketBtn');

        addToBasketBtn.addEventListener('click', () => {
          // Navigate to the cart page when "Add to Basket" button is clicked
          window.location.href = 'CartPage.html'; // Update the URL accordingly
        });
      } catch (error) {
        console.error('Error fetching product details:', error);
      }
    });
  </script>
</body>
</html>
